{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["prismjs", {
      "languages": ["javascript", "css", "html", "rust", "java"],
      "plugins": ["line-numbers", "show-language"],
      "theme": "tomorrow",
      "css": true
    }]
  ]
}
