// sass-lint:disable no-color-literals

// =========
// Colors. Names from http://chir.ag/projects/name-that-color/
// =========
$black: #000;
$white: #fff;
$mine-shaft: #333;
$royal-blue: #44d;
$havelock-blue: #67d;
$catskill-white: #f7f9fb;
$cod-gray: #111;
$big-stone: #123;
$rhino: #346;
$athens-gray: #f8f8f9;
$mischka: #d5d9e2;
$pine-green: #077;
$purple-heart: #62b;
$cardinal: #c23;
$mirage: #1a2028;
$pickled-bluewood: #293845;
$facebook: #3b5998;
$spindle: #bce;
$dodger-blue: #3af;
$pattens-blue: #def;
$stratos: #001450;
$gray-brown: #f9f8f2;

:root {
  --theme-primary: $royal-blue;
  --theme-secondary: $havelock-blue;
  --theme-light: $catskill-white;
  --theme-black: $cod-gray;
  --theme-black-blue: $big-stone;
  --theme-blue: $rhino;
  --theme-brown: $gray-brown;
  --theme-gray: $mischka;
  --theme-green: $pine-green;
  --theme-purple: $purple-heart;
  --theme-red: $cardinal;
  --theme-white: $white;
}

$bg-colors: (
  'primary': var(--theme-primary),
  'secondary': var(--theme-secondary),
  'light': var(--theme-light),
  'black': var(--theme-black),
  'black-blue': var(--theme-black-blue),
  'blue': var(--theme-blue),
  'brown': var(--theme-brown),
  'gray': var(--theme-gray),
  'green': var(--theme-green),
  'purple': var(--theme-purple),
  'red': var(--theme-red),
  'white': var(--theme-white),
  // Branding
  'facebook': $facebook,
) !default;

$social-nav: (
  'twitter': #1da1f3,
  'facebook': $facebook,
  'linkedin': #1683bb,
  'dribbble': #ea4c89,
  'github': rgba(51, 0, 153, 1),
  'email': #dd4b39,
) !default;

$body-color: $mine-shaft !default;
$body-bg: var(--theme-light) !default;
$focus-box-shadow: 0 0 2px rgba(150, 187, 238, 1) !default;
$link-color: var(--theme-primary) !default;
$link-color-secondary: var(--theme-red) !default;
$link-hover: rgb(43, 237, 163) !default;
$hr-bg: radial-gradient(
  ellipse at center,
  rgba(0, 20, 80, 0.2) 0,
  rgba(255, 255, 255, 0) 75%
) !default;
$current-zoomed-slide-shadow: 0 0 7px rgba(0, 187, 255, 0.5);
$index-overlay: rgba(0, 10, 40, 0.8);
